/** This Style Is For ERROR Reporting Styles Or Anything else .... **/
#bad_report { 
background-color : #FF0000;
width : 90%;
margin-left : auto;
margin-right : auto;
margin-top : auto;
border : solid 1px #FFF;
border-radius : 5px;
color : #FFF;
font-size : 30px;
text-align : center;
padding : 10px;
text-transform : uppercase;
}